<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.puhui.mapper.MovieMapper">
    <!--<parameterMap id="movieMap" type="com.puhui.jsoup.vo.DouBanVo">-->
        <!--<parameter property="id" -->
    <!--</parameterMap>-->
    <resultMap id="movieMap" type="com.puhui.jsoup.vo.DouBanVo">
        <id property="id" column="id"/>
        <result property="movieName" column="movie_name"/>
        <result property="description" column="description"/>
        <result property="createTime" column="create_time" javaType="java.util.Date" jdbcType="DATE"/>
        <result property="score" column="score"/>
    </resultMap>
    <insert id="insertMovie" parameterType="douBanVo">
        INSERT INTO mybatis.jsoup (movie_name, description, create_time,score) VALUES (#{movieName}, #{description}, now(),#{score});
    </insert>
</mapper>